/*Gerais*/
{
    font-family: 'Rotobo', sans-serif;
}
.row{
margin: 0;
}

p,li{
    color: #444;
    fonte-size: 14px;
}


/**Barra de navegacao*/
header, .navbar{
    background-color: #353d41;
}

#nav-containe{
    padding: top 0;
    padding-bottom: 0%;
}
#logo{
width: 75px;
}
.navbar-brand {
padding: 0;
color: #fff;
}
.navbar-brand:hover{
    color: #fff;
}

.navbar-links a {
    color: #fff;
}